
.cards__container__wrap{
    max-width: 1270px;
}

.cards__container__wrap .card{
    width: 280px !important;
    height: auto;
}

.cards__container__wrap h3{
    font-size: 20px;
}

.cards__container__wrap img{
    width: 100%;
    height: 186px;
    object-fit: cover;
}
